{% extends 'sctr_base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

{% block content %}

<div class="pagetitle">
	<h1>Tablero</h1>
</div>

<section class="section dashboard">
	<div class="row">

		<!-- Left side columns -->
		<div class="col-lg-8">
			<div class="row">

				<!-- Card estudiantes -->
				<div class="col-xxl-4 col-md-6">
					<div class="card info-card sales-card">
						<div class="card-body">
							<h5 class="card-title">Estudiantes</h5>
							<div class="d-flex align-items-center">
								<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="fa-light fa-graduation-cap"></i>
								</div>
								<div class="ps-3">
									<h6>{{ cant_estudiantes }}</h6>
									<span class="pt-1 text-muted">{{ anolectivo }}-{{ anolectivo|add:1 }}</span> 
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Find Card estudiantes -->

				<!-- Card docentes -->
				<div class="col-xxl-4 col-md-6">
					<div class="card info-card sales-card">
						<div class="card-body">
							<h5 class="card-title">Docentes</h5>
							<div class="d-flex align-items-center">
								<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="fa-light fa-chalkboard-user"></i>
								</div>
								<div class="ps-3">
									<h6>{{ cant_docentes }}</h6>
									<span class="pt-1 text-muted">{{ anolectivo }}-{{ anolectivo|add:1 }}</span> 
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Find Card docentes -->

				<!-- Card autoridades -->
				<div class="col-xxl-4 col-md-6">
					<div class="card info-card sales-card">
						<div class="card-body">
							<h5 class="card-title">Autoridades</h5>
							<div class="d-flex align-items-center">
								<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="fa-light fa-user-tie"></i>
								</div>
								<div class="ps-3">
									<h6>3,200</h6>
									<span class="pt-1 text-muted">{{ anolectivo }}-{{ anolectivo|add:1 }}</span> 

								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Find Card autoridades -->

			</div>

			<div class="row">
				<!-- Reporte -->
				<div class="col-12">
					<div class="card">

						<div class="filter">
							<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li class="dropdown-header text-start">
									<h6>Filtro</h6>
								</li>
								<li><a class="dropdown-item" href="#">Estudiantes</a></li>
								<li><a class="dropdown-item" href="#">Docentes</a></li>
								<li><a class="dropdown-item" href="#">Autoridades</a></li>
							</ul>
						</div>
						<div class="card-body">
							<h5 class="card-title">Resumen <span>/ Estudiantes</span></h5>
							<div id="reportsChart"></div>
						</div>

					</div>
				</div>
				<!-- Fin Reporte -->
			</div>
		</div>
		<!-- Fin Left side columns -->

		<!-- Right side columns -->
		<div class="col-lg-4">

			<!-- Actividad reciente -->
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Actividad reciente</h5>

					<div class="activity">

						<div class="activity-item d-flex">
							<div class="activite-label">32 min</div>
							<i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
							<div class="activity-content">
								<span class="fw-bold">Editó</span> el estudiante Buenaño Vera Darlyn Omar
							</div>
						</div><!-- Fin activity item-->

						<div class="activity-item d-flex">
							<div class="activite-label">56 min</div>
							<i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
							<div class="activity-content">
								<span class="fw-bold">Agregó</span> el estudiante Buenaño Vera Darlyn Omar
							</div>
						</div><!-- Fin activity item-->

						<div class="activity-item d-flex">
							<div class="activite-label">2 hrs</div>
							<i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
							<div class="activity-content">
								<span class="fw-bold">Agregó</span> el estudiante XXXX XXXX XXXX XXXX
							</div>
						</div><!-- Fin activity item-->

						<div class="activity-item d-flex">
							<div class="activite-label">1 día</div>
							<i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
							<div class="activity-content">
								<span class="fw-bold">Agregó</span> el estudiante XXXX XXXX XXXX XXXX
							</div>
						</div><!-- Fin activity item-->

						<div class="activity-item d-flex">
							<div class="activite-label">2 días</div>
							<i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
							<div class="activity-content">
								<span class="fw-bold">Agregó</span> el estudiante XXXX XXXX XXXX XXXX
							</div>
						</div><!-- Fin activity item-->

						<div class="activity-item d-flex">
							<div class="activite-label">4 seman</div>
							<i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
							<div class="activity-content">
								<span class="fw-bold">Agregó</span> el estudiante XXXX XXXX XXXX XXXX
							</div>
						</div><!-- Fin activity item-->

						<div class="activity-item d-flex">
							<div class="activite-label">4 seman</div>
							<i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
							<div class="activity-content">
								<span class="fw-bold">Agregó</span> el estudiante XXXX XXXX XXXX XXXX
							</div>
						</div><!-- Fin activity item-->

						<div class="activity-item d-flex">
							<div class="activite-label">4 seman</div>
							<i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
							<div class="activity-content">
								<span class="fw-bold">Agregó</span> el estudiante XXXX XXXX XXXX XXXX
							</div>
						</div><!-- Fin activity item-->

						<div class="activity-item d-flex">
							<div class="activite-label">4 seman</div>
							<i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
							<div class="activity-content">
								<span class="fw-bold">Agregó</span> el estudiante XXXX XXXX XXXX XXXX
							</div>
						</div><!-- Fin activity item-->

					</div>

				</div>
			</div><!-- Fin actividad reciente -->

		</div><!-- Fin Right side columns -->

	</div>
</section>

{% endblock content %}

{% block js %}
<script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
<!-- <script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script> -->
<script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock js %}